
html, body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
h2{
    color:#774DD6 ;
}

section{
    float: left;
    padding-bottom: 3%;
    padding-top: 5%;
    padding-left: 2%;
}
#centralizado{
    text-align: center;
}


.color{
    background-color: #F0F0F7;
}


.header{
    height:10%;
    width:100%;
    z-index: 10;
    position: fixed;
    background-color: #774DD6;
    
}
#logodiv{
    border-radius: 10%;
    margin-top:1.5%;
    margin-left:2%;
    position:absolute;
}

ul{
    float:right;
    list-style: none;
    margin-right:0.5%;
}
li{
    float:left;
    margin-top: 1.5%;
}
li a{
    color: white;
    border-radius: 5px;
    padding: 10px 20px ;
    cursor: pointer;
    text-decoration: none;
}
li a:hover{
    color: black;
    background-color: white;
    padding: 10px 20px ;
    transition: 0.6s ease;
}
#first{
    padding-bottom: 10%;

}
.menu{
    padding-top: 10%;
    color: black;
    text-align: center;
    position: relative;
    float: left;
    width: 40%;
}
.menu2 img{
    padding-top: 5%;
    width: 50%;
    float: right;
}
#titulo{
    font-size: 200%;
}
#subtitulo{
    margin-top:0;
    border-top: solid black 2px;
}
.menu a {
    color: black;
    text-decoration: none;
    padding: 10px 20px ;
    transition: 0.6s ;
}
.menu a:hover{
    color: black;
    background-color: #04BF58;
    border-radius: 5px;
}
.coluna1{
    padding-left:0,8%;
    float:left;
    position:relative;
    width: 50%;
}
.imgods{
    margin: 6%;
    width:90%;
}
.left{
    float: left;
    position: relative;
}
.right{
    float: right;
    position: relative;
}
.coluna2{
    width: 40%;
}
#video{
    border: solid black 2px;
    border-radius: 2%;
    margin-top: 50%;
}
.coluna3{
    width: 60%;
}
.e1{
    width: 30%;
    margin-left: 3%;
}
.t2{
    width: 100%;
}
.coluna4{
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 0,5%;
    width:25%;
}
.tamanho{
    padding:2%;
    border-radius: 50%;
    height: 10%;
}
.tamanho:hover{
    background-color: teal;
    transition: 0.6s ease;
}
#obj{
    margin-top: 1%;
}

#obj a{
    text-decoration: none;
    color: #6842c2;
    cursor: pointer;
}
.coluna5{
    margin-left: 1%;
    margin-top: 1%;
    width:75%;
}

.coluna6{
    margin-top: 1%;
    margin-left: 2%;
    width:20%;
}
#foto{
    border:solid black;
    border-radius: 100% ;
    width: 100%;    
}
.footer{
    padding-top: 2%;
    color: white;
    padding-bottom:5%;
    clear: both;
    background-color: black;
}

@media all and (max-width: 768px){
    .menu,
     .menu2 img{
         float: none;
         width: 99%;
     }
     section{
         padding-top: 0;
     }
     #first{
         padding-top: 10%;
     }
     .header{
         height: 8%;
     }
    #menu2{
        visibility: hidden;
        float: none;
    }
    
    .coluna1, .coluna2, .coluna3, .coluna4, .coluna5, .coluna6, .e1, .obj{
        display: block;
        float: none;
        padding: 0;
        width: 95%;
        margin: 2% auto;
    }
    .texting2{
        padding:0 ;
        margin: 2% auto;
        width: 95%;

    }
    #video{
        margin-top: 1%;
    }
    .imgods{
        margin: 0;
    }
    
    
    
     
}